{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}

  <script type="text/javascript">
    var m={{ messages|safe }};
    for(var i=0;i<m.length;i++)
    {
      alert(m[i]);
    }
  </script>

  {% endif %}
{% endwith %}

	
	<div class="container-fluid"> <!-- Header content -->
		<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('view') }}">Active Donors</a></li>
         <li><a href="{{ url_for('inactive') }}">Inactive Donors</a></li>
         <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
    </div>



</div>
    </nav>
</div>

  <center><img src="https://i.pinimg.com/736x/26/a1/6c/26a16cbe6c24539d6fec034e43716d2e--blood-donation-in-india.jpg" width="460" height="345"></center>

{% endblock %}