{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}

  <script type="text/javascript">
    var m={{ messages|safe }};
    for(var i=0;i<m.length;i++)
    {
      alert(m[i]);
    }
  </script>

  {% endif %}
{% endwith %}

<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Sno</th>
                <th>Name</th>
                <th>Email</th>
                <th>Blood_group</th>
                <th>Weight</th>
                <th>Gender</th>
                <th>Dob</th>
                <th>Address</th>
                <th>Adharno</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{loop.index}}
                <td>{{d[1]}}</td>
                <td>{{d[2]}}</td>
                <td>{{d[4]}}</td>
                <td>{{d[5]}}</td>
                <td>{{d[6]}}</td>
                <td>{{d[7]}}</td>
                <td>{{d[8]}}</td>
                <td>{{d[10]}}</td>
                <td>{{d[3]}}</td>


            <!--    <td>
                  <form action="{{url_for('send')}}" method="POST">
                  <button value={{d[0]}} name="send">Send sms</button>
                  </form>
                </td> -->

                
            </tr>
            {% endfor %}
        </tbody>
</table>


<script type="text/javascript">

$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

</script>
{% endblock %}